<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985431209967-bubccfh61mhl786efab3mcnmqgajk29r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985431209967-bubccfh61mhl786efab3mcnmqgajk29r</string>
	<key>API_KEY</key>
	<string>AIzaSyCfxbIMqk34W7ZkBhu_GSDWG4YEnS1cdrs</string>
	<key>GCM_SENDER_ID</key>
	<string>985431209967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lev.verossa</string>
	<key>PROJECT_ID</key>
	<string>verossa-b291a</string>
	<key>STORAGE_BUCKET</key>
	<string>verossa-b291a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985431209967:ios:6f9d36973749dd79c0681a</string>
	<key>DATABASE_URL</key>
	<string>https://verossa-b291a.firebaseio.com</string>
</dict>
</plist>